.printBox {
    font-family: Arial, sans-serif;
    font-size: 11px;
}

table {
    page-break-inside: auto;
    border-collapse: collapse;
}

table td {
    word-wrap: break-word;
    word-break: break-all;
}

tr {
    page-break-inside: avoid;
    page-break-after: auto
}

img {
    max-width: 10%;
    height: auto;
}
